body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar{
    background-color: rgb(34, 98, 167);
    padding: 30px;
}

.navbar a{
    color: white;
}

a{
    text-decoration: none;
    font-weight: bolder;
}

.footer{
    background-color: rgb(45, 45, 45);
    color: white
}

.content{
    background-color: aqua;
}